/* Color Template */
.color-primary{
    color: $color-primary;
} 

.color-primary-bg{
    background: $color-primary;
} 

.color-second{
    color: $color-second;
} 

.color-second-bg{
    background: $color-second;
} 

.color-black{
    color: $color-black;
}

.color-black-bg{
    background: $color-black;
}

.color-search{
    color: $color-search;
}

.color-search{
    background: $color-search;
}

